
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <h2>Boards</h2>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-4 py-3">Name</th>
                <th scope="col" class="py-3 px-6">
                    Creator
                </th>
                <th scope="col" class="py-3 px-6">
                    Height
                </th>
                <th scope="col" class="py-3 px-6">
                    Width
                </th>
                <th scope="col" class="py-3 px-6">
                    Bombs
                </th>
                <th scope="col" class="py-3 px-6">
                    Created at
                </th>
            </tr>
        </thead>
        <tbody>
            <% @boards.each do |board|  %>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to board.name, board_path(board) %>
                </th>
                <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to board_path(board) do %>
                        <%= board.email %>
                    <% end %>
                </td>
                <td class="py-4 px-6">
                    <%= board.height %>
                </td>
                <td class="py-4 px-6">
                    <%= board.width %>
                </td>
                <td class="py-4 px-6">
                    <%= board.bombs %>
                </td>
                <td class="py-4 px-6">
                    <%= board.created_at.to_formatted_s(:long) %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @boards %>
</div>
